body {
    background-color: #ffffff;
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 16px;
}

.header {
    background-color: #279036;
    padding: 0.34rem 1.25rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.header h2:hover {
    transform: scale(1.03);
}

.header .menu {
    display: flex;
    margin-left: auto;
}

.header .menu a {
    border-radius: 8px;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: all 0.16s;
}

.header .menu a:hover {
    background-color: rgba(255, 255, 255, 0.16);
    transform: translateY(-2px);
}

.header .menu a:active {
    transform: translateY(0);
}

.header #imgh2 {
    background-color: #cedded;
    border-radius: 8px;
    margin-left: 12px;
    height: 50px;
    width: auto;
    transition: 0.12s;
    cursor: pointer;
}

.header #imgh2:hover {
    transform: scale(1.1);
}

.header #imgh2:active {
    transform: scale(1);
}

hr {
    border: none;
    border: 1px solid #CECECE;
    margin: 20px 0;
}